{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="This is Imam Satrio's portfolio website">
        <meta name="keywords" content="Coderio, Imam Satrio, Satrio">
    
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
    
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
        <title>Coderio</title>
    
        <!--==================== Favicon ====================-->
        <link rel="shortcut icon" href="/assets/img/favicon_edited.png" type="image/png">
    
        <!--==================== Animate on scroll CDN ====================-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    </head>

    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Coderio</a>

            <div data-aos="fade-in" class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__items">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__items">
                        <a href="#about" class="nav__link ">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav_items">
                        <a href="#skills" class="nav__link ">
                            <i class="uil uil-file nav__icon"></i> Skills
                        </a>
                    </li>

                    <li class="nav__items">
                        <a href="#portfolio" class="nav__link ">
                            <i class="uil uil-scenery nav__icon"></i> Projects
                        </a>
                    </li>

                    <li class="nav__items">
                        <a href="#contact" class="nav__link ">
                            <i class="uil uil-message nav__icon"></i> Contact me
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!--Theme Change button-->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__container container grid">
                    <div>
                        <h1 class="footer__title">Coderio</h1>
                        <span class="footer__subtitle">ML Engineer</span>
                    </div>
    
                    <ul class="footer__links">
                        <li>
                            <a href="#portfolio" class="footer__link">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact" class="footer__link">Contact me</a>
                        </li>
                    </ul>
    
                    <div class="footer__socials">
                        <a href="https://www.linkedin.com/in/imam-satrio-5a4b5724b/details/skills/"
                            target="_blank" class="footer__social">
                            <i class="uil uil-linkedin"></i></a>
                        </a>
    
                        <a href="https://github.com/imsatrio25" target="_blank" class="footer__social">
                            <i class="uil uil-github-alt"></i></a>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!--==================== SWIPER JS ====================-->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

    <!--==================== MAIN JS ====================-->
    <script src="{% static 'js/main.js' %}"></script>

    <!--=================== Animated text ===============-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input", {
            strings: [
                "an ML Engineer",
                "a Backend Developer",
                "a Student",
                "a Data Scientist",
            ],
            typeSpeed: 200,
            backSpeed: 100,
            loop: true,
        });
    </script>

    <!--=================== Animate scroll js ===============-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 300,
            duration: 1000
        });
    </script>
    </body>
</html>